.showing_lost_pet {
  min-width: 600px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showing_lost_pet_box {
  padding-top: 30px;
  padding-left: 250px;
  padding-right: 250px;
  min-width: 600px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.showing_lost_pet_space {
  width: 100%;
  height: 20%;
}

.showing_lost_pet_space_box {
  width: 95%;
  height: 250%;
  border: solid 1px rgb(0, 0, 0, 0.4);
}

.showing_lost_pet_header {
  width: 100%;
  height: 20%;
  display: flex;
}
.showing_lost_pet_header_information {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
}
.showing_lost_pet_header_information_row {
  display: flex;
  width: 100%;
  height: 50%;
}
.showing_lost_pet_header_information_box_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-weight: bold;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #efefef;
}
.showing_lost_pet_header_information_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-weight: bold;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.showing_lost_pet_header_location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}
.showing_lost_pet_header_location_btn {
  border-radius: 40%;
  background-color: #1e4e8e;
  color: white;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.showing_lost_pet_header_location_btn:hover {
  background-color: #153259;
}

.showing_lost_pet_header_location_btn:active {
  color: rgb(80, 75, 75);
  font-weight: bold;
}

.showing_lost_pet_header_location_info {
  height: 100%;
  width: 40%;
}
.showing_lost_pet_header_location_info_row {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  width: 100%;
  height: 50%;
}
.showing_lost_pet_header_location_info_box_menu {
  font-weight: bold;
  color: #153d73;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  background: #efefef;
}
.showing_lost_pet_header_location_info_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.showing_lost_pet_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.showing_lost_pet_body_image {
  border-top: solid 1px rgb(0, 0, 0, 0.4);

  height: 100%;
  width: 100%;
}

.showing_lost_pet_describe {
  border: 1px solid black;
  width: 100%;
  height: 30%;
  display: flex;
}
.showing_lost_pet_describe_contents_box {
  /* background-color: #1e4476; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.showing_lost_pet_describe_contents {
  background-color: white;
  /* border: 1px solid black; */
  width: 90%;
  height: 80%;
  border-radius: 20px;
  padding: 3px;
}
.showing_lost_pet_describe_contents_text {
  padding: 20px;
  font-size: 18px;
  /* font-family: ; */
}

/* .showing_lost_pet_describe_tag_box {
  background-color: #1e4476;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
} */

.showing_lost_pet_comment {
  width: 600px;
  height: 30%;
}
