.comment_modalbackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.commentModal {
  width: 600px;
  height: 400px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  display: flex;
  border-radius: 5%;
}
.commentModal_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.commentModal_box_contentsbar {
  display: grid;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  overflow: auto;
}
.user_comment {
  border: solid 1px black;
  background-color: #7faaee;
  width: 60%;
  height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 1px;
}

.commentModal_box_inputbar {
  display: flex;
  width: 100%;
  height: 30%;
}
.commentModal_box_comment_input {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}
.commentModal_box_comment_input_textarea {
  margin-top: 2%;
  display: flex;
  width: 100%;
  font-size: 15px;
}
.commentModal_box_comment_input_textarea::placeholder {
  font-size: 15px;
}
.commentModal_box_choicebox_push {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.commentModal_box_choicebox_push_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 60%;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  /* background:linear-gradient(to bottom, blue 5%, dodgerblue 100%); */
  background-color: #1b5ac2;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.close {
  float: right;
  font-size: 25px;
}
