.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.SignUpModal {
  width: 480px;
  height: 621px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
}

.close {
  float: right;
  font-size: 25px;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.singId {
  margin-top: 80px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.signNickName {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.signPw {
  margin-top: 25px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.canSignUp {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  opacity: 0.4;
}

.signBtn {
  height: 40px;
  font-size: 22px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  line-height: 1px;
  margin-top: 5%;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.signTry {
  margin-top: 15px;
  /* border: solid 1px blue; */
}

.signTry_btn {
  float: right;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border-style: none;
  height: 25px;
}

.signTry {
  padding: 5px;
}

.signTry_span {
  opacity: 0.4;
}
