.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.loginModal {
  width: 480px;
  height: 621px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
}

.close {
  float: right;
  font-size: 25px;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.loginId {
  margin-top: 30px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.loginPw {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.loginBtn {
  height: 40px;
  font-size: 22px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.socialBox {
  margin-bottom: 30px;
}

.kakao {
  background-color: #feec34;
  border-color: #feec34;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 3px;
}

.kakaoLogo {
  width: 24px;
  height: 25px;
}

.kakaoText {
  width: 300px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.google {
  background-color: #df4a32;
  border-color: #df4a32;
  height: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #fff;
  border-radius: 3px;
}

.googleText {
  padding-top: 12px;
  width: 310px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}

.googleLogo {
  padding-top: 7px;
  width: 24px;
  height: 25px;
}
