.draw {
  border: solid 7px green;
}

.box {
  border: solid 7px red;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.intro_box {
  border: solid 7px green;
  height: 300px;
  width: 800px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  background-color: yellow;
}

.intro_btn_box {
  /* border: solid 7px blue; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro_btn {
  margin: 10px;
  width: 400px;
  height: 80px;
}
